<div class="footer">
  <div class="footer-item footer-logo">
    <img src="img/logo/Logo%202.png" style="height: 50px">
  </div>
  <div class="footer-item">
    <p>Địa chỉ: 267 Phố Huế, Hai Bà Trưng, Hà Nội</p>
    <p>Số điện thoại: 0987.654.321</p>
    <p>Email: contact@10haus.com</p>
  </div>
  <div class="footer-item">
    <h3 class="text-uppercase"><p>chính sách</p></h3>
    <p>Chính sách đổi trả</p>
    <p>Chinh sách bảo hành</p>
  </div>
  <div class="footer-item">

    <h3 class="text-uppercase">
      <p>hướng dẫn</p>
    </h3>
    <p>Vận chuyển và giao hàng</p>
    <p>Phương thức thanh toán</p>
  </div>
  <div class="footer-item footer-item-icon">
    <p class="p-0">
      <img src="img/logo/facebook.png" alt="" style="width: 30px">
      <img src="img/logo/instagram.png" alt="" style="width: 30px">
    </p>
  </div>
</div>
